@charset "gb2312";
/* CSS Document */

/* CSS reset */
body,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,th,td,p,blockquote,pre,form,fieldset,legend,input,button,textarea,hr{margin:0;padding:0;}
ul,li {list-style:none;}
fieldset, img {border:none;}
body {background:#fff;color: #2a2a2a;}
body,button,input,select,textarea {font:12px/1.5 tahoma,arial,"Hiragino Sans GB",\5b8b\4f53;}	 /*字体(unicode)：宋体(\5B8B\4F53)黑体(\9ED1\4F53)微软雅黑(\5FAE\8F6F\96C5\9ED1)*/
input,select,textarea {font-size:100%;}		/* 默认并不集成父级的文字大小 */
textarea {resize:none;}
table {border-collapse:collapse;border-spacing:0; empty-cells: show;}
button {cursor:pointer;}
em {font-style:normal;}
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:500;}
a {text-decoration:none;}
a:focus {outline:none;}

/* ie debug */
img,li {vertical-align:top;}
th {text-align:inherit;}
iframe {display:block;}

/* CSS3 渐进增强 */
textarea:focus, input[type="text"]:focus, input[type="password"]:focus {border-color: rgba(242, 145, 73, 0.8) !important;box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(242, 145, 73, 0.6);outline: 0 none;}
a:hover, a:active, a:focus {text-decoration:none; -webkit-transition: color 0.3s ease; transition: color 0.3s ease;}

/* clearfix */
.clearfix:after{content:"\0020";display:block;height:0;clear:both;}
.clearfix{zoom:1;}
.clearit{clear:both;height:0;font-size:0;overflow:hidden;}

/* 单行文字溢出时出现省略号，需设定宽度 */
.fn-text-overflow {overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

/*common部分开始*/
body {font-family:"Microsoft Yahei", SimHei;  color: #333;} /*微软雅黑 */
.simhei{font-family:Microsoft Simhei;} /*黑体 */
.wrap {width:1000px; margin:0 auto;}
.fl {float:left;}
.fr {float:right;}
.mt0 {margin-top:0px!important;}
.mt5 {margin-top:5px!important;}
.mt10 {margin-top:10px!important;}
.mt20 {margin-top:20px!important;}
.mt30 {margin-top:30px!important;}
.mt35 {margin-top:35px!important;}
.mt40 {margin-top:40px!important;}

/*链接颜色*/
a { color: #333;}
a:visited { color: #9a9a9a;}
a:hover {color:#068894;}

.linkGreenBox a,
.linkGreenBox a:visited {color:#058892;}  /*墨绿色*/
.linkGreenBox a:hover {color:#f39c11;}

a.linkGreen,
a.linkGreen:visited {color:#377ecf;}  /*墨绿色*/
a.linkGreen:hover {color:#f39c11;}

/*字体颜色*/
.c666{ color: #666;}
.c999{ color: #999;}

/*layout 布局样式*/
#w_layout_670_300{ overflow: hidden;}
#w_layout_670_300 .w_main{ width: 670px; overflow: hidden;}
#w_layout_670_300 .w_aside{ width: 300px; overflow: hidden;}

#w_layout_400_570{ overflow: hidden;}
#w_layout_400_570 .w_main{ width: 570px; overflow: hidden;}
#w_layout_400_570 .w_aside{ width: 400px; overflow: hidden;}

/*section 模块*/
.w_section{ overflow: hidden;}
.w_sh{ height: 30px; overflow: hidden; position: relative; width: 100%;}
.w_sh_title{ font-size: 20px; line-height: 30px; font-weight: bold; color: #377ecf;}
.w_sh_more{ line-height: 18px; position: absolute; right: 0px; bottom: 2px; font-family: "\5B8B\4F53";}
.w_sm{ overflow: hidden;}

.w_sm_img{ width: 300px; overflow: hidden;}
.w_sm_img a img{ display: block; width: 100%;}

/*返回顶部css 1000 margin-left:505px; 950宽 margin-left:485px;*/
html,* html body{background-image:url(about:blank);background-attachment:fixed}
.side-btns-wrap{position: fixed;_position: absolute;right: 50%;bottom: 100px;width: 50px;margin-right: -560px;_top: expression(documentElement.scrollTop + documentElement.clientHeight-150);}
.side-btns-top{width:50px; height: 50px;}
.side-btns-top a{height: 50px; width: 50px; background: url(http://i2.sinaimg.cn/dy/deco/2013/1126/images/back.png) -136px -88px; text-indent: -9999px; overflow: hidden; cursor: pointer; display: block;}
.side-btns-top a:hover{ background-position: -136px -138px;}
.side-btns-wrap-resize{display: none !important;}

